body {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  margin: 0;
}

ul {
  list-style-type: none;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .5px;
  /* margin-top: 0; */
  /* text-transform: uppercase; */
}

.blue {
  background: #caecee;
  color: grey;
}

.container {
  width: 700px;
  margin: 0 auto;
  padding: 40px 0;
}

a {
  text-decoration: none;
  font-weight: bold;;
}

nav a {
  
  /* color: #ffffff;    */
}

a:visited {
color: grey;

}

footer a:visited {
  color: #646464;
}


footer {
  background: #84aaaa;
}

#contact {
  color: white;
}
