:root {
  --accent: #83a8ad;
}


meter::-webkit-meter-bar {
  border-radius: 20px;
  background: white;
  border: none;
}
meter::-webkit-meter-optimum-value {
  background: var(--accent);
}


meter::-moz-meter-bar {
  -moz-appearance: meterchunk;
  border-radius: 20px;
  border: none;

}

meter:-moz-meter-optimum  {
  border-radius: 20px;
  background: #ffffff;
}


meter:-moz-meter-optimum::-moz-meter-bar  {
  border-radius: 20px;
  background: var(--accent);
}



img {
  border-radius: 10px;;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  margin: 0;
}

*::selection {
  background-color: #808080;
  color:white;
}

ul {
  list-style-type: none;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .5px;
  margin: 0;
  /*  */
}

p {
  margin: 0;
  /* text-indent: 50px; */
}

.summary {
  box-sizing: border-box;
  border-top: 1px #cecece solid;
  margin-top: 5px;
}

.blue {
  background: #caecee;
  color: grey;
}

.container {
  width: 800px;
  margin: 0 auto;
  padding: 40px 0;
}

section#about .container > p::first-letter {
  font-weight: bold;
}

a {
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

a:visited {
  color: grey;

}


a:hover, a:visited:hover {
  color: white;
  background-color: grey;
}


/* .menu-link {
padding: 0 10px;
} */

.menu {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-transform: uppercase;  */
}



ul li {
  display: inline;
}


#info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a:visited {
  color: #646464;
}


footer {
  background: var(--accent);
  margin: 0px;
}

#footer-row {
  display: flex;
  align-items: center;
  
}

#contact {
  color: white;
}


.job {
  display: flex;
  margin-bottom: 16px;
}


/* Getting these right was tricky! */
 .job-col-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 200px; /* see if there's a way to do this with grow and have them all be the same width */
  max-width: 200px;
} 

.job-col-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-left: 1px #cecece solid ;
  padding-left: 10px;
}

.date {
  color:var(--accent);
  margin-right: 10px;
  font-weight: bold;
}

.company {
  margin-right: 10px;
  font-weight: bold;
  color: grey;
  font-size: 36px;
}



button {
  padding: 10px;
  border: 0;
}


#skills-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skill {
  display: flex;
  padding: 10px 0;
}

.skill-name {
  display: flex;
  min-width: 180px;
  justify-content: flex-end;
  margin-right: 10px;
}