body {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  margin: 0;
}

ul {
  list-style-type: none;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .5px;
  margin: 0;
  /*  */
}

p {
  margin: 0;
}

.summary {
  box-sizing: border-box;
  border-top: 1px grey solid;
  margin-top: 5px;
}

.blue {
  background: #caecee;
  color: grey;
}

.container {
  width: 700px;
  margin: 0 auto;
  padding: 40px 0;
}

a {
  text-decoration: none;
  font-weight: bold;
}

/* .menu-link {
padding: 0 10px;
} */

.menu {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-transform: uppercase;  */
}



ul li {
  display: inline;
}

a:visited {
  color: grey;

}

#info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a:visited {
  color: #646464;
}


footer {
  background: #84aaaa;
}

#contact {
  color: white;
}


.job {
  display: flex;
  margin-bottom: 16px;
}


/* Getting these right was tricky! */
 .job-col-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 200px; /* see if there's a way to do this with grow and have them all be the same width */
  max-width: 200px;
} 

.job-col-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.date {
  color: blue;
  margin-right: 10px;
  font-weight: bold;
}

.company {
  margin-right: 10px;
  font-weight: bold;
  color: grey;
  font-size: 36px;
}

